<div class="container">
  <section>
    <a href="/">back</a>
    <div class="px-4 pt-5 my-5 text-center">
      <h1 class="display-4 fw-bold text-body-emphasis"><%= data.title %></h1>

      <img
        src="/<%= data.image %>"
        alt="<%= data.image.name %>"
        class="rounded img-fluid"
        width="981"
        height="528"
      />
      <div class="col-lg-6 mx-auto">
        <p class="text-body-primary mt-4"><%- data.body %></p>
      </div>
    </div>
  </section>
</div>
